name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: maven

      - name: Build with Maven
        run: mvn -B package -f pom.xml

      - name: Javadocs build
        run: mvn javadoc:javadoc

      - name: Validate, build and run tests
        run: mvn --batch-mode --update-snapshots verify

      - name: Github pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/site/apidocs
          force_orphan: true
          cname: sniochup.github.io

      - name: Upload package
        uses: actions/upload-artifact@v2
        with:
          name: scenarioqualitychecker-package
          path: |
            ./target/site
            ./target/*.jar
          retention-days: 5